@model Bartoepicode.Models.Utenti

@{
    ViewBag.Title = "Home Page";
}


<h1>Sono la homepage</h1>
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <h2>Bentornato @Model.Nome @Model.Cognome - @Model.Email</h2>
    <h3>Ecco i tuoi ordini:</h3>
}
else
{
    <h2>Esegui il login per vedere i tuoi dati</h2>
}